PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/portfolio?retryWrites=true&w=majority
CLIENT_URL=http://localhost:5500,http://localhost:5173,http://localhost:3000,https://your-vercel-app.vercel.app
SERVE_FRONTEND=false

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
OWNER_EMAIL=you@example.com
